---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import HomepageSection from '../layouts/HomepageSection.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ChatBubble from '../components/ChatBubble.astro';
import Project from '../components/Project.astro';
import Experience from '../components/Experience.astro';

import * as bioData from '../data/bio-data.md';
import * as thoughts from '../data/thoughts-blurb.md';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets'
import ampersandLogo from  '../assets/ampersand.png'
const projects = await getCollection('projects');
const currentExperiences = await getCollection('currentExperiences');
const pastExperiences = await getCollection('pastExperiences');
---

<Layout>
	<Header />
	<main class="h-full w-full max-w-5xl m-auto -mt-16 p-8 flex flex-col place-items-center">
		<ChatBubble title={bioData.frontmatter.title}><bioData.Content /></ChatBubble>
		<HomepageSection title="Featured Projects" htmlId="projects">
			{projects.map(project => (
				<Project project={project} /> 
			))}
		</HomepageSection>
		<HomepageSection title="Currently" htmlId="works">
			{currentExperiences.map(experience => (
				<Experience experience={experience} /> 
			))}
		</HomepageSection>
		<HomepageSection title="Previously">
			{pastExperiences.map(experience => (
				<Experience experience={experience} /> 
			))}
		</HomepageSection>
		<ChatBubble title={thoughts.frontmatter.title} htmlId="writings">
			<thoughts.Content />
			<a href="https://hochoy.substack.com/" target="_blank"><Image src={ampersandLogo} alt="Ampersand Logo" class="w-72 mt-12 mx-auto" /></a>
		</ChatBubble>
	</main>
	<Footer />
</Layout>

<style>
</style>
